name: Integration Tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  NODE_VERSION: 18

jobs:
  test-examples:
    name: Run example tests
    runs-on: ubuntu-latest

    env:
      SKIP_PREFLIGHT_CHECK: true
      CYPRESS_USER_EMAIL: ${{secrets.CYPRESS_USER_EMAIL}}
      CYPRESS_USER_PASSWORD: ${{secrets.CYPRESS_USER_PASSWORD}}
      REACT_APP_DOMAIN: ${{secrets.TEST_DOMAIN}}
      REACT_APP_CLIENT_ID: ${{secrets.TEST_CLIENT_ID}}
      REACT_APP_AUDIENCE: ${{secrets.TEST_AUDIENCE}}
      GATSBY_DOMAIN: ${{secrets.TEST_DOMAIN}}
      GATSBY_CLIENT_ID: ${{secrets.TEST_CLIENT_ID}}
      GATSBY_AUDIENCE: ${{secrets.TEST_AUDIENCE}}
      NEXT_PUBLIC_DOMAIN: ${{secrets.TEST_DOMAIN}}
      NEXT_PUBLIC_CLIENT_ID: ${{secrets.TEST_CLIENT_ID}}
      NEXT_PUBLIC_AUDIENCE: ${{secrets.TEST_AUDIENCE}}
      DOMAIN: ${{secrets.TEST_DOMAIN}}
      AUDIENCE: ${{secrets.TEST_AUDIENCE}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Build SDK
        run: npm run build

      - name: Install examples
        run: npm run install:examples

      - name: Run integration test (CRA)
        run: npm run test:cra

      - name: Run integration test (NextJS)
        run: npm run test:nextjs

      - name: Run integration test (Gatsby)
        run: npm run test:gatsby
